<!-- HEADER -->
<header class="header">
  <div class="container header-container">
    <a class="header-logo-link" href="./index.html">
      <svg class="header-logo" width="168" height="16">
        <use href="/img/logo.svg#logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="#how_it_works" class="nav-list-link">How it works</a>
        </li>
        <li class="nav-list-item">
          <a href="#vegetables" class="nav-list-link">Vegetables</a>
        </li>
        <li class="nav-list-item">
          <a href="#reviews" class="nav-list-link">Reviews</a>
        </li>
      </ul>
      <a class="nav-btn" href="#your_order">Shop now</a>
    </nav>
    <button type="button" class="js-open-modal nav-menu-btn">
      <svg class="nav-menu" width="26" height="20">
        <use href="/img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>