.hero {
    position: relative;
    padding-top: 100px;
    width: 100%;
    background-color: #576f35;
}

.wrapper {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
}